/*
 * core
 */

* {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #000;
}

p img {
  margin: 16px 0;
  width: 100%;
}

iframe {
  max-width: 100%;
}

/*
 * lay-out
 */

.main-wrapper {
  margin-top: 96px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 960px;
}

.container {
  display: flex;
}

.pop-up {
  width: 100%;
  max-width: 600px;
  margin: 112px auto;
  background: #fff;
}

.container--fixed {
  position: fixed;
  margin-top: -96px;
}

.content-nav {
  width: 20%;
  min-width: 200px;
  margin-top: 96px;
  &__item {
    line-height: 32px;
    margin-bottom: 4px;
  }
  li {
    font-size: 14px;
    line-height: 22px;
  }
}

.content-nav-icon {
  position: fixed;
  left: 8px;
  top: 96px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000;
  }
}

.container--overflowed {
  height: 100%;
  z-index: 0;
  .content-nav {
    &__search-bar {
      width: 100%;
    }
    &__index {
      height: calc(100% - 48px);
      overflow-y: scroll;
      &__item {
        &:last-child{
          padding-bottom: 32px;
        }
      }
    }
    .list:first-child {
      padding-bottom: 56px;
    }
    .list li:last-child .subsub-list li:last-child {
      padding-bottom: 0;
    }
  }
}

.content-nav-spacer {
  width: 20%;
  min-width: 200px;
  padding-right: 20px;
  &__item {
    line-height: 32px;
    margin-bottom: 4px;
  }
}

.content, .content-spacer {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.content {
  position: relative;
  z-index: 3;
  margin-top: -64px;
}

.content-nav-icon {
  display: none;
}

.no-side-nav-column, .nav-column {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
  margin-left: 16.66666667%;
}

.list, .sub-list {
  list-style: none;
  margin: 0;
}

.sub-list {
  padding-left: 16px;
  .sub-list {
    padding-left: 0;
  }
  .subsub-list {
    padding-left: 16px;
  }
}

.list {
  padding: 0;
  &__item {
    padding: 0;
  }
}

.list--horizontal {
  display: flex;
  justify-content: flex-start;
  .list__item {
    margin-right: 16px;
  }
}

.body-regular {
  margin-bottom: 28px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: none;
}

/*
 * components
 */

.header {
  position: fixed;
  height: 96px;
  width: 100%;
  z-index: 2;
  top: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
  &__navigation {
    display: none;
    padding-top: 36px;
  }
  &__nav-icon {
    position: absolute;
    margin-left: 8px;
    width: 24px;
    height: 40px;
    left: 0;
    top: 24px;
    z-index: 3;
    cursor: pointer;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background: #000;
      margin-bottom: 16px;
      top: 50%;
      left: 0;
      transform-origin: 50%;
      transition: all 0.1s linear;
    }
    &:before {
      transform: translate(0, -7px);
    }
    &:after {
      transform: translate(0, 7px);
    }
  }
}

.has-active-main-nav {
  .header {
    z-index: 4;
    &__navigation {
      position: fixed;
      height: 100%;
      width: 100%;
      background: #000;
      overflow-y: hidden;
      display: block;
    }
    &__nav-icon {
      &:before, &:after {
        bottom: 0;
        background: #fff;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    a, h2, .h2, h4, .h4 {
      color: #fff;
    }
  }
}

.posts {
  &__content {
    z-index: 3;
    margin-left: -32px;
  }
}

.footer {
  width: 100%;
}

.form {
  width: 100%;
  max-width: 320px;
}

.search-overlay {
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  z-index: 10;
}

.search-overlay .search-bar {
  &:before {
    z-index: 1;
  }
  &:hover, &:active, &:focus {
    border: none;
  }
  input[type="search"] {
    &:hover, &:active, &:focus {
      border-left: none;
      border-top: none;
      border-right: none;
    }
  }
}

.search-overlay .search-bar__input {
  border-left: none;
  border-top: none;
  border-right: none;
  padding-left: 40px;
}

.search-bar {
  &:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-top: -4px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 23px;
    top: 25px;
    transform: rotate(-45deg);
    background: #000;
    width: 2px;
    height: 9px;
  }
}

.search-results {
  max-height: 400px;
  &__header {
    color: #B1B2B3;
  }
  &__item {
    a {
      text-decoration: none;
      display: block;
      padding: 12px 16px;
      line-height: 1.5;
      &:hover {
        background: #F9F9F9;
        &:before, &:after {
          content: '';
          position: absolute;
          right: 40px;
        }
        &:before {
          content: '';
          height: 10px;
          width: 10px;
          border-top: 2px solid #000;
          border-right: 2px solid #000;
          transform: rotate(45deg);
          top: 27px;
        }
        &:after {
          content: '';
          width: 17px;
          height: 2px;
          background: #000;
          top: 32px;
          right: 39px;
        }
      }
    }
    position: relative;
    transition: all 0.1s linear;
    &:last-child {
      margin-bottom: 8px;
    }
    b {
      color: #000;
    }
    &__title {
      font-size: 24px;
      text-transform: capitalize;
      &__slug-end {
        color: #000;
        font-weight: 700;
        padding-right: 50px;
      }
    }
  }
  &__header {
    padding: 0 28px;
  }
}

.has-active-search-window {
  .search-overlay {
    display: block;
  }
}

/*
 * styling
 */

textarea, input[type="text"], input[type="email"], input[type="number"], input[type="search"] {
  border: 1px solid #B1B2B3;
  transition: all 0.1s linear;
  padding-right: 40px;
  position: relative;
  border-radius: 0 !important;
  padding: 12px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  &:active, &:focus {
    border: 1px solid #000000;
  }
  &:required, &:invalid {
    box-shadow: none !important;
    border: 1px solid #EE892B;
    color: #EE892B;
  }
}

button, .btn {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.has-valid-input {
  position: relative;
  &:after {
    content: '✓';
    color: #2AA779;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    width: 15px;
    height: 24px;
    margin-top: -4px;
  }
  input[type="text"], input[type="email"], input[type="number"] {
    border: 1px solid #2AA779;
  }
}


/*
 * typography
 */

@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-extralight.woff");
  font-weight: 200;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-bold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-black.woff");
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.underline {
  text-decoration: underline;
}

.article {
  h1 {
    margin-bottom: 28px;
  }
  h2 {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  h3 {
    margin-top: 28px;
    margin-bottom: 12px;
  }
  h4 {
    margin-top: 26px;;
    margin-bottom: 10px;
  }
  h5 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  li {
    line-height: 1.5;
  }
  a {
    text-decoration: underline;
  }
}

pre, code {
  overflow-y: scroll;
  padding: 4px;
}

/*
 atomized
 */

.max-dimensions {
  height: 100%;
  width: 100%;
}

.border-none {
  border: none;
}

.border-gray3 {
  border: 1px solid #B1B2B3;
  &:hover {
    border: 1px solid #000000;
  }
}

.lh24 {
  line-height: 24px;
}

.transition {
  transition: all 0.1s linear;
}

.box-shadow-override {
  box-shadow: none !important;
}

// already in indigo but are overwritten by my custom css right now, because the font won't load with just the help of Indigo

.p0 {
  padding: 0;
}

.p3 {
  padding: 12px;
}

.pl10 {
  padding-left: 40px;
}

.relative,
.rel {
  position: relative;
}

.bg-white {
  background-color: #ffffff;
}

// end atomize
