{% extends "base.html" %}
{% block content %}
<!-- header -->

<!-- content -->
  <!-- <header id="main-nav" class="fixed h10 z2 top0"> -->

  <header id="main-nav" class="header">
    <!-- Panini icon -->
    <div id="js-main-nav-toggle" class="header__nav-icon"></div>
    <div class="col-right">
      <nav class="header__navigation">
        <!-- First item -->
            <div class="measure-narrow ml4">
              {% for item in config.extra.urbit_menu %}
                <h2 class="mt0 mb6">
                  <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                    {{ item.name }}
                  </a>
                </h2>
              {% endfor %}
              </div>

              <section class="mb6">
                <h4 class="mb1 fw-bold">Follow</h4>
                <a class="mono mb2 block" href="https://twitter.com/urbit">twitter.com/urbit</a>
                <a class="mono mb2 block" href="https://github.com/urbit/">github.com/urbit</a>
              </section>
              <section class="mb6">
                <h4 class="mb1 fw-bold">Contact</h4>
                <a class="mono mb2 block" href="mailto:support@urbit.org">support@urbit.org</a>
              </section>
              <section class="mb6">
                <h4 class="mb1 fw-bold">Company</h4>
                  {% for item in config.extra.urbit_footer %}
                    <a class="mono mb2 block" href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                      {{ item.name }}
                    </a>
                  {% endfor %}
              </section>
      </nav>
  </header>

    <div class="container container-ns">
    <div class="col-left col-left-ns">
      <div class="fix mt9 ml7">
        <a class="mt9 block" href="{{ config.base_url }}/posts/">
          All
        </a>
        {% for post in terms %}
            <a class="mt2 block" href="{{ post.permalink }}">
              {{ post.name }}
            </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-right col-right-ns mt8">
      <div class="measure-narrow">
        <h1 class="f1 mb4 fw-bold">Posts</h1>
          {% set posts = get_section(path="posts/_index.md") %}
          {% for page in posts.pages %}
            <div class="mb8">

              <a href="{{ page.permalink }}"><h2 class="mt1 fw-bold">{{ page.title }}</h2></a>
              <p class="mv3 f5">{{ page.description }}</p>

              <span class="h4 mb0 mono gray-50">&#126;{{ page.date | date(format="%Y.%m.%d") }}</span>
              <span class="h4 mt0 mb0">{% if page.taxonomies.posts %}
                {% for post in page.taxonomies.posts %}<a class="gray-50"  href="{{ get_taxonomy_url(kind="posts", name=post) }}">{{ post }}</a> {% endfor %}
              {% endif %}
            </span>
            </div>
          {% endfor %}
      </div>
    </div>
{% endblock content %}
