{% extends "base.html" %}

{% block content %}
<!-- header -->
{% include "partials/navigation.html" %}
<!-- content -->
<div class="main-wrapper">
  <div class="wrapper">
    <div class="container container--fixed content-nav-container">
      <div id="js-content-nav-toggle" class="content-nav-icon"></div>
      <nav class="content-nav">
        <ul class="list">
          <li class="list__item content-nav__item">
            <a href="{{ config.base_url }}/posts/">
              All
            </a>
          </li>
          {% set index = get_section(path="posts/_index.md") %}
          {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            <li class="list__item content-nav__item">
              <a href="{{ subsection.permalink }}">
                {{ subsection.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="content-spacer"></div>
    </div>
    <div class="container">
      <div class="content-nav-spacer"></div>
      <article class="content posts__content">
        <h1 class="mb8">{{ section.title }}</h1>
        <ul class="list">
          {% set index = get_section(path="posts/_index.md") %}
          {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            {% if subsection.pages %}
            <!-- level 1 -->
              {% for page in subsection.pages %}
              <li class="list__item mb8">
                <span class="h4 mt0 mb0 mr2 mono">&#126;{{ page.date | date(format="%Y.%m.%d") }}</span>
                <span class="h4 mt0 mb0 lowercase">
                  <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
                </span>
                <a href="{{ page.permalink }}"><h2 class="mt1">{{ page.title }}</h2></a>
                <p class="mt3">{{ page.description }}</p>
              </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</div>
{% endblock content %}
